@model IEnumerable<DBAssignment.Models.Parent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Zip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Zip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Parent_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Parent_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Parent_Id })
        </td>
    </tr>
}

</table>
